[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
eclipse-builder = {extras = ["test"], path = "."}

[packages]
setuptools = ">= 64.0.0"
eclipse-builder = {path = "."}
